  // html { // i revome it due weird effect on route change (home -> salmo)
  //   scroll-behavior: smooth;
  // }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

  body {
    background-color: rgb(227 233 240 / 77%);
    color: #212121;
    padding: 0 1.4em;
    padding-top: 3em;
    font-family: 'Open Sans';
  }

  html,body,h1,h2,h3,h4,h5,h6,h7,p,b,span,div {
    color: #212121;
  }

  // SIDE-NAV
  .sideNav-openButton {
    margin-left: 0.48em;
    margin-top: 0.4em;
    margin-right: .41em;
    cursor: pointer;    

    svg {
      padding: .6em;
    }

    svg:hover{
      background-color: #eee;
      border-radius: 50%;
      padding: .6em;
    }
  }

  .sideNav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em 1.2em;
    border-bottom: 1px solid #ddd;
    margin-bottom: .4em;

    p {
      margin: 0;
    }

    .sideNav-closeButton {
      font-size: 2em;
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .body-overlay {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, .5);

    position: fixed;
    top: 0;
    left: 0;

    transition: height 0ms 0ms, opacity .3s 0ms;
    opacity: 0;
  }

  .sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;

    box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%), 0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);

    .favoriteNumber {
      font-size: 0.8em;
      font-weight: bolder;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      padding: 0.1em 0.5em;
      color: #888;
    }

    a {
      padding: .6em 1em;
      text-decoration: none;
      font-size: 1.1em;
      color: #666;
      display: block;
      transition: 0.3s;

      display: flex;
      align-items: center;

      svg {
        margin-right: .8em;
      }

      &:hover {
        background-color: rgb(236, 236, 236);
      }
    }

    @media screen and (max-height: 450px) {
      padding-top: 1em;
    }
  }

  .navbar {
    position: fixed; z-index: 50;
    margin: 1em;
    top: 1em;
    left: 0;
    width: calc(100% - 2em);

    @media screen and (min-width: 860px) {
      margin: 0;
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    @media screen and (max-width: 860px) {
      margin-top: -.5em;
    }


    border-radius: 2em;

    .navbar-content {
      display: flex;
      align-items: center;

      background-color: #fff;
      border-bottom: 1px solid #eee;

      background: rgba(255,255,255, .9);
      // backdrop-filter: blur(6px); this break menu!

      border-radius: 2em;
      margin-top: 0.5em;
      padding: 0;

      @media screen and (max-width:840px) {
        padding: 0 1.4em;
      }

      .navbar-logo {
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
          width: 3em;
          height: 3em;
          margin-right: .9em;
        }

        h1 {
          font-weight: 500;
          font-size: 1.2em;
          color: #666;
          margin: 0;

          span {
            width: 2px;
            display: inline-block;
          }
        }

        .search-bar {
          margin-left: 2em;
          margin-top: 0.51em;
          position: relative;

          @media screen and (max-width: 615px) {
            display: none;
          }

          svg {
            position: absolute;
            top: 0.6em;
            left: 0.9em;
            opacity: .7;
          }

          input {
            background-color: #eaeaea;
            padding-left: 3.25em;
            width: 230px;
          }
        }
      }

      .light-mode {
        span {
          font-size: .8em;
          cursor: pointer;
          display: inline-block;
          background-color: #efefef;
          padding: .2em .4em;
          border-radius: 6px;
        }
      }

      @media screen and (min-width: 800px) {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }

  h1 {
    margin-top: 0;

    .gradient {
      background: -webkit-linear-gradient(left, #be7dff 10%, #7367F0 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media screen and (max-width: 500px) {
    h1 {
      font-size: 1.6em;
    }
  }

  [v-cloak] {
    display: none;
  }

  footer {
    margin-top: 16px;
  }

  .copyright-sanpaolo {
    display: flex;
    font-style: italic;

    span {
      margin-left: .3em;
    }
  }

  .prose {
    font-size: 18px;
    max-width: 460px;

    .prose-row {
      white-space: pre; // per far funzionare gli \n (a capo) presdenti nel json
    }

    @media screen and (max-width: 530px) {
      .prose-row {
        font-size: 15px;
        white-space: normal; // fix necessario (altrimenti le righe vanno fuori dal viewport. @todo: controllare coportamento su righe molto grosse)
      }
    }

    .prose-number {
      width: 19px;
      height: 19px;
      // background-color: #ffe082;
      background-color: #efefef;
      background-color: var(--background);
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      margin-right: 4px;
    }
  }

  .menu-b {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--button-hover);
    padding: 10px 16px;
    border-radius: 6px;

    button {
      margin-bottom: 0;
    }
  }


  .homepage {

    .title {
      display: flex;
      align-items: center;

      span.desc {
        margin-top: 2px;
        margin-left: 10px;
        font-size: 12px;
        opacity: .7;
        z-index: -1;
      }

      @media screen and (max-width: 630px) {
        flex-flow: column;
        align-items: flex-start;

        h1 {
          margin-bottom: 0;
        }

        span.desc {
          margin-left: 0;
          margin-bottom: 1.5em;
        }
      }
    }

    details {
      margin-top: 0;
      margin-bottom: 2.4em;
    }

    .elencoSalmi {
      padding-top: 0.7em;

      h3.book-number {
        margin-bottom: 0.4em;
        
        a {
          color: #868a8d;
          background: #eee;
          padding: 0.15em 0.7em;
          margin-bottom: -.1em;
          text-decoration: none;
          border-radius: 2em;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      button {
        width: 100%;
        text-align: left;

        background-color: #fff;
        box-shadow: rgb(169 174 183 / 50%) 0px 1px 2px 0px;
        transition: all .2s;
        cursor: default;

        border-radius: 0.7em;
        margin-bottom: 0.7em;
        padding-bottom: 1em;

        .salmo-secondary-info {
          display: flex;
          align-items: center;

          .star, .share, .listenAudio  {
            display: flex;
            align-items: center;

            display: flex;
            align-items: center;
            background-color: #eee;
            border-radius: 50%;
            padding: 0.25em 0.2em 0.25em 0.3em;
            justify-content: center;
            margin-left: 0.3em;
            transition: .2s all;

            &:hover {
             background-color: #d1d1d1;
             cursor: pointer;
             transform: scale(1.3);
            }
          }

          .listenAudio {
            // disabled style
            opacity: .36;
            cursor: default !important;

            svg {
              opacity: .9;
              padding-right: .1em;
            }
          }

          .share {
            padding-right: 0.3em;
            padding-left: 0.3em;
          }
        }

        .salmo-number {
          display: inline-block;
          width: 100%;
          font-size: .8em;
          font-weight: 700;
          color: #454545;
          text-align: right;
        }

        a {
          text-decoration: none;
        }

        .salmo-title {
          font-weight: 700;
          font-size: 1.1em;

          cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
        }

        .salmo-description {
          color: #7e9099;
          cursor: pointer;
          font-size: .9;

          b {
            font-size: .63em;
            font-weight: bolder;
            background-color: rgba(0,0,0, .05);
            border-radius: 50%;
            padding: 0.1em 0.32em;
            color: #888;
          }
        }

        &:hover {
          transform: scale(1.04);
          box-shadow: rgb(169 174 183 / 100%) 0px 1px 2px 0px;
        }

        @media screen and (min-width: 640px) {}
      }
    }

  }


  // SALMO.VUE
  .single-salmo {

    h1 span.desc {
      color: #666;
    }
  }

  .salmoContent {
    background-color: #fff;
    box-shadow: rgb(169 174 183 / 50%) 0px 1px 2px 0px;
    border-radius: 6px;
    padding: 10px 30px;
    margin-bottom: 1em;
  }

  // WORDS OF LIGHT
  .wordsOfLight_lists {

    &-word {
      background-color: #fff;
      box-shadow: rgb(169 174 183 / 50%) 0px 1px 2px 0px;
      transition: all 0.2s;
      margin-bottom: 0.6em;
      border-radius: 6px;
      order: 2;

      &.today_wordOfLight {
        order: 1;
      }

      position: relative;

      &:hover {
        transform: scale(1.04);
        box-shadow: rgb(169 174 183) 0px 1px 2px 0px;    
      }

      .image { // to remove a little bottom void space
        display: flex;
        justify-content: center;
        align-items: center;
      
        .today-word {
          position: absolute;
          top: 1em;
          right: 0.8em;

          span {
            background: #ffd54f;
            padding: 0.7em 1em;
            border-radius: 2em;
            text-transform: uppercase;
            font-weight: bold;
            font-size: .68em;            
          }
          
        }
      }

      .image img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
  
      .description {
        padding: 1em;
        position: relative;

        .middleBar {
          position: absolute;
          top: 0;
          width: calc(100% - 3.2em);
          left: 0;
          padding: 0.3em 1.6em;
          background-color: #ddd;
          color: #333;
          font-size: .8em;
          font-weight: 500;
        }

        .title {
          font-size: 1.4em;
          font-weight: 800;
          margin-top: 1em;
        }

        .verse {
          font-style: italic;
          font-size: 1.1em;
        }
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-word {
        width: 49%;
      }
    }
  }

  // BUTTONS
  .small-button {
    padding: 0.2em 0.5em;
    display: flex;
    align-items: center;

    &.colorfull-light-green {
      background: linear-gradient(45deg, #619B98, #C0FCF8);
      transition: all .3s;

      &:hover {
        box-shadow: 1px 1px 13px inset rgba(0,0,0, .1), 1px 1px 1.5px inset rgba(0,0,0, .25);
      }
    }

    &.colorfull-red-blue {
      background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      transition: all .3s;

      &:hover {
        box-shadow: 1px 1px 13px inset rgba(0,0,0, .23), 1px 1px 1.5px inset rgba(0,0,0, .25);
      }
    }

    &.colorfull-red-blue-hover {
      transition: all .3s;

      &:hover {
      background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      box-shadow: 1px 1px 13px inset rgba(0,0,0, .23), 1px 1px 1.5px inset rgba(0,0,0, .25);
      }
    }

    &.colorfull-yellow-hover {
      transition: all .3s;


      &:hover {
      box-shadow: 1px 1px 13px inset rgba(0,0,0, .13), 1px 1px 1.5px inset rgba(0,0,0, .15);
        background-image: linear-gradient(to right top, #f6e942, #f7e442, #f7df42, #f7da42, #f7d542, #f7d041, #f7ca40, #f6c540, #f6bd3f, #f5b53e, #f4ae3e, #f3a63e);
      }
    }


    

    svg {
      margin-right: 0.3em;
      opacity: .78;
    }
  }

  .psalms-option-menu {
    @media screen and (min-width: 405px) {
      display: flex;
      align-items: center;
    }

    button {
      margin-right: .4em;
    }
  }